header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5% 1% 5%; 
    background-color: white;
}

header img, header ul li{
    cursor: pointer;
}

header ul{
    display: flex;
    list-style: none;
    height: 30px;
}

header ul li {
    margin-left: 50px;
    color: rgb(31, 32, 57);
}

header ul li:hover{
    color: rgb(165, 180, 252);
}

@media screen and (max-width:998px) {

header{
    flex-direction: column;
    justify-content: center;
}

header ul li {
    margin-left:  0px;
}
header img{
    margin-bottom: 20%;
}
header ul{
justify-content: space-around;
padding: 0%;
width: 50%;
}

}