
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    border: 0;
    font-family: 'Manrope';
    cursor: default;
}

a {
    color: black;
    text-decoration: none;
  }
  
  em {
    color: #a5b4fc;
    font-style: normal;
  }
  
  h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
  }
  
  p {
    font-size: 1.1em;
  }


 button{
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  font-size:medium;
  padding: 20px 30px;
  border-radius: 45px;
  margin-top: 5%;

}

button:hover{
  cursor: pointer;
  opacity: 0.9;
}


.presentation {
    display: flex;
    justify-content:center;
    background-color: rgb(31, 32, 57);
    padding: 5%;
}
.info_presentation{
    width: 50%;
    color: white;
}
.info_presentation h1{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size:55px;
    color: rgb(165, 180, 252);
    text-align: left;
}
.info_presentation p{
    text-align: left;
}

.projets{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projets h2{
    text-align: center;
    margin: 6%;
    font-size:x-large;
    font-weight: 600;
    
}

.images_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    width: 96%;
}

.grid-item {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: auto;
  }

  .projets button{
    margin: 10%;
    padding: 10px 60px;
  }

  .contact h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5%;
    color: white;
    background-color: rgb(31, 32, 57);
  }
  
  .form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input,
  textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
  }
  
  label {
    margin-bottom: 10px;
  }
  
#btn-envoyer{
    font-size:medium;
    margin: 2% auto;
    padding: 20px 60px;

}

@media screen and (max-width:998px) {
  
.presentation{
  flex-direction: column-reverse;
  align-items: center;
}

.info_presentation{
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.info_presentation h1{
  font-size: 2em;
  margin-top: 5%;
}

.info_presentation p, h1{
  text-align: center;
}

.info_presentation img{
  aspect-ratio: 1/1;
  object-fit: contain;
}

.images_grid{
  grid-template-columns: 1fr;  
}
  
}








